/* add styles here */

*{
  font-family: Helvetica, Arial, sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
}

h1{
  margin: 0;
  padding: 0px 0px 0px 20px;
  background-color: #314962;
  color: #fff;
  text-align: center;
}

p{
  border: 1px solid #342c03;
  color: #342c03;
  background-color: #c2ccff;
  padding: 10px;
  margin: 10px 20px 10px 20px;
  font-weight: bold;
}

fieldset{
  border: 1px solid #666;
  margin: 0px 20px 20px 20px;
  background-color: #eee;
}

legend {
  padding: 5px 15px 5px 15px;
  background-color: #ccc;
  border: 1px solid #666;
  font-weight: bold;
  font-size: 0.9em;
}
	
label{
  font-weight: bold;
  font-size: 0.8em;
}

textarea{
  width: 95%;
  height: 100px;
  margin-bottom: 10px;
}

input[type=submit]{
  font-size: 1.1em;
  font-weight: bold;
}

div#product_count{
  font-size: 0.8em;
  color: #888;
}


div#product_count span {
  font-weight: bold;
}


ul#my_products {
list-style: none;
margin: 0; padding: 0;
border: 1px solid #ccc;
border-top: none;
}
ul#my_products li {
list-style: none;
display: block;
padding: 10px;
background-color: #fff;
border-top: 1px solid #ccc;
}
ul#my_products div.desc {
width: 80%;
float: left;
font-size: 1.1em;
}
ul#my_products li div.link {
width: 20%;
float: left;
text-align: right;
}

ul#my_products li div.clear {
clear: both;
}
ul#my_products li button, a {
background-color: #314962;
color: white;
padding: 15px 32px;
border: 1px solid #000;
text-decoration: none;
display: inline-block;
margin-left: 200%;

}
ul#my_products li button:hover, a:hover {
background-color: black;
}
